{
  "ConnectionStrings": {
    "PostgreSQL": "Host=YOUR_AIVEN_HOST;Port=YOUR_PORT;Database=defaultdb;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;SSL Mode=Require;Trust Server Certificate=true",
    "MongoDb": "mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/BazaPrzychodnia?retryWrites=true&w=majority&appName=BazaPrzychodnia"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
